<div class="main-div"><mat-card class="main">
    <div class="container">
        <img src="../assets/cave.jpeg" alt="">
    </div>
    <div class="speaker">
        <mat-card-title>
        Narrator
        </mat-card-title>
    </div>
    <div class="textbox">
        <mat-card>
            <mat-card-content>
            ...nothing seems to be around. Where would you like to go?
            <div class="container"><mat-card-actions>
                <button mat-raised-button><a href="fight" class="has-text-danger-dark">Left</a></button>
                <button mat-raised-button><a href="fight" class="has-text-danger-dark">Forward</a></button>
                <button mat-raised-button><a href="end" class="has-text-danger-dark">Backward</a></button>
                <button mat-raised-button><a href="fight" class="has-text-danger-dark">Right</a></button>
            </mat-card-actions></div>
        </mat-card-content>
            
        </mat-card>
    </div>

</mat-card></div>