<div class="main-div"><mat-card class="main">
    <div class="container">
        <img src="../assets/zombie.png" alt="">
        <div class="blood">
        <img src="../assets/newblood.png" alt="">
    </div>
    </div>
    <div class="speaker">
        <mat-card-title>
        Narrator
        </mat-card-title>
    </div>
    <div class="textbox">
        <mat-card>
            <mat-card-content>
            You smash a large rock over his head, knocking off the remainder of his scalp. The tattered body stumbles and charges forward suddenly, landing a swipe! It barely hurts and doesn't scratch, as the ends of his arms are squishy nubs. What will you do?
            <div class="container"><mat-card-actions>
                <button mat-raised-button><a href="victory" class="has-text-danger-dark">Attack</a></button>
                <button mat-raised-button><a href="direction" class="has-text-danger-dark">Flee</a></button>
                <button mat-raised-button><a href="map" class="has-text-danger-dark">Open Map</a></button>
                <button mat-raised-button><a href="inventory" class="has-text-danger-dark">Inventory</a></button>
            </mat-card-actions></div>
            </mat-card-content>
            
        </mat-card>
    </div>

</mat-card></div>