<div class="main-div"><mat-card class="main">
    <div class="container">
        <img src="../assets/spider.gif" alt="">
    </div>
    <div class="speaker">
        <mat-card-title>
        Narrator
        </mat-card-title>
    </div>
    <div class="textbox">
        <mat-card>
            <mat-card-content>
            OUCH! You've been bitten by a large spider! You have been poisoned. Be careful, your health is slowly depleting. 
            <div class="container"><mat-card-actions>
                <button mat-raised-button><a href="direction" class="has-text-danger-dark">Doesn't bother me. Push on!!!</a></button>
                <button mat-raised-button><a href="map" class="has-text-danger-dark">Open Map</a></button>
                <button mat-raised-button><a href="inventory" class="has-text-danger-dark">Inventory</a></button>
            </mat-card-actions></div>
        </mat-card-content>
            
        </mat-card>
    </div>

</mat-card></div>