:root {
    --green: #445334;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
mat-card{
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornsilk;
    border-radius: 10px;
    box-shadow: 2px 1px 100px 180px cornsilk;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

mat-card-title{
    height: 35px;
    font-style: oblique;
    font-size: xx-large;
    font-variant: small-caps;
    font-weight: bolder;
    font-family: fantasy;
    color:brown;
    text-shadow: #141700;
}
mat-card-content{
    height: 20px;
    font-style: oblique;
    font-size: medium;
    text-align: right;
    font-variant: small-caps;
    font-weight: bolder;
    font-family: fantasy;
    color:brown;
    text-shadow: #141700;
}

button{
    height: 100px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 3000px;
    text-decoration: overline;
    text-shadow: #141700;
    text-decoration-color:brown;
    border-radius: 0px;
}
