<div class="main-div"><mat-card class="main">
    <div class="container">
        <img src="../assets/zombie.png" alt="">
    </div>
    <div class="speaker">
        <mat-card-title>
        Narrator
        </mat-card-title>
    </div>
    <div class="textbox">
        <mat-card>
            <mat-card-content>
            A zombie! He looks strong. What will you do?
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button>Attack</button>
                <button mat-raised-button>Flee</button>
                <button mat-raised-button>Open Map</button>
                <button mat-raised-button>Inventory</button>
            </mat-card-actions>
        </mat-card>
    </div>

</mat-card></div>
