:root {
    --green: #445334;
}
.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main {
    height: 700px;
    width: 1000px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color:cornsilk;
    box-shadow: 2px 1px 100px 100px cornsilk;
    color:azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

mat-card-title{
    height: 35px;
    font-style: ;
    font-size: xx-large;
    font-variant: small-caps;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    color:brown;
    text-shadow: #141700;
}
mat-card-content{
    height: 20px;
    font-style: oblique;
    font-size: large;
    text-align: left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: ;
    text-shadow: #141700;
}

button{
    height: 100px;
    width: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 3000px;
    text-decoration: overline;
    text-shadow: #141700;
    text-decoration-color:brown;
    border-radius: 0px;
}
.textbox{
    height: px;
    width: 900px;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #445334;
}
.textbox mat-card{
    height: 300px;
    box-shadow: 1px 10px 50px 1px #331306 ;
    
}
.container{
    align-self: center;
}
.container img{
    align-self: center;
    height: 300px;
    width: 350px;
}