<div class="main-div"><mat-card class="main">
    <div class="container">
        <img src="../assets/potion1.png" alt="">
    </div>
    <div class="speaker">
        <mat-card-title>
        Narrator
        </mat-card-title>
    </div>
    <div class="textbox">
        <mat-card>
            <mat-card-content>
            <p class="title has-text-warning-dark">ENEMY FELLED!!</p>
            <p class="note has-text-success">You gained a potion!!</p>
            <div class="container"><mat-card-actions>
                <button mat-raised-button><a href="direction" class="has-text-danger-dark">Continue</a></button>
            </mat-card-actions></div>
            </mat-card-content>
            
        </mat-card>
    </div>

</mat-card></div>
